<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01_82.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,977},{162,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,143}}</string>
                <key>sourceSize</key>
                <string>{162,143}</string>
            </dict>
            <key>01_99.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1005},{184,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,162}}</string>
                <key>sourceSize</key>
                <string>{184,162}</string>
            </dict>
            <key>01_text_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,930},{205,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,73}}</string>
                <key>sourceSize</key>
                <string>{205,73}</string>
            </dict>
            <key>01_text_R.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,906},{181,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,69}}</string>
                <key>sourceSize</key>
                <string>{181,69}</string>
            </dict>
            <key>01_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{343,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,129}}</string>
                <key>sourceSize</key>
                <string>{343,129}</string>
            </dict>
            <key>02_gl.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,1064},{148,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,130}}</string>
                <key>sourceSize</key>
                <string>{148,130}</string>
            </dict>
            <key>02_stage.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,906},{177,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,156}}</string>
                <key>sourceSize</key>
                <string>{177,156}</string>
            </dict>
            <key>02_text_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,534},{229,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,99}}</string>
                <key>sourceSize</key>
                <string>{229,99}</string>
            </dict>
            <key>02_text_R.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,635},{227,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,96}}</string>
                <key>sourceSize</key>
                <string>{227,96}</string>
            </dict>
            <key>02_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,122},{277,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,127}}</string>
                <key>sourceSize</key>
                <string>{277,127}</string>
            </dict>
            <key>03_multiple.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,1032},{134,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,117}}</string>
                <key>sourceSize</key>
                <string>{134,117}</string>
            </dict>
            <key>03_single.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,859},{194,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,171}}</string>
                <key>sourceSize</key>
                <string>{194,171}</string>
            </dict>
            <key>03_text_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,523},{241,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,206}}</string>
                <key>sourceSize</key>
                <string>{241,206}</string>
            </dict>
            <key>03_text_R.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,592},{232,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,206}}</string>
                <key>sourceSize</key>
                <string>{232,206}</string>
            </dict>
            <key>03_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,253},{247,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,129}}</string>
                <key>sourceSize</key>
                <string>{247,129}</string>
            </dict>
            <key>04_anim.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,281},{102,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,89}}</string>
                <key>sourceSize</key>
                <string>{102,89}</string>
            </dict>
            <key>04_flash.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,733},{194,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,171}}</string>
                <key>sourceSize</key>
                <string>{194,171}</string>
            </dict>
            <key>04_text_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,353},{256,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,179}}</string>
                <key>sourceSize</key>
                <string>{256,179}</string>
            </dict>
            <key>04_text_R.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{241,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,206}}</string>
                <key>sourceSize</key>
                <string>{241,206}</string>
            </dict>
            <key>04_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,523},{233,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,127}}</string>
                <key>sourceSize</key>
                <string>{233,127}</string>
            </dict>
            <key>05_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,1032},{119,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,105}}</string>
                <key>sourceSize</key>
                <string>{119,105}</string>
            </dict>
            <key>05_97.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,935},{188,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,165}}</string>
                <key>sourceSize</key>
                <string>{188,165}</string>
            </dict>
            <key>05_text_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,652},{223,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,205}}</string>
                <key>sourceSize</key>
                <string>{223,205}</string>
            </dict>
            <key>05_text_R.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,731},{222,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,202}}</string>
                <key>sourceSize</key>
                <string>{222,202}</string>
            </dict>
            <key>05_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{207,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,128}}</string>
                <key>sourceSize</key>
                <string>{207,128}</string>
            </dict>
            <key>balanceBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{722,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{722,118}}</string>
                <key>sourceSize</key>
                <string>{722,118}</string>
            </dict>
            <key>balancePan.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{289,349}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,349}}</string>
                <key>sourceSize</key>
                <string>{289,349}</string>
            </dict>
            <key>pivot.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,122},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>point.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,203},{58,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,76}}</string>
                <key>sourceSize</key>
                <string>{58,76}</string>
            </dict>
            <key>pop.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,372},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>textDisc.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,251},{270,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,270}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ResultsAssets.png</string>
            <key>size</key>
            <string>{1018,1196}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:601515d0e062fcc11af3a97334d7dda4$</string>
            <key>textureFileName</key>
            <string>ResultsAssets.png</string>
        </dict>
    </dict>
</plist>